<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    
    <!-- bootstrap links -->
    <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css">
    <script src="../resources/bootstrap/js/jquery-3.6.0.min.js"></script>
    <script src="../resources/bootstrap/js/bootstrap.min.js"></script>

    <!-- font-awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- css links -->
    <link rel="stylesheet" href="../resources/style/about.css">
    <link rel="stylesheet" href="../resources/style/navbar_&_footer.css">



</head>
<body>
   
    <!--////////////////          drop down navbar           //////////////-->


    <div class="topnav" id="myTopnav">
        <img class="logo" src="../public/icons/logo-v4-black.png">
        <a href="contact.html">CONTACT</a>    
        <a href="news.html">NEWS</a>
        <a href="rooms.html">ROOMS & SUITES</a>
        <a href="about.html">ABOUT</a>
        <a href="home.html">HOME</a>
        <a  href="javascript:void(0);" class="icon" onclick="myFunction1()">
          <i class="fa fa-bars" style="font-size: 35px;"></i>
        </a>
      
      </div>
<!-- //////////////////////           end drop down navbar      //////////-->


<!--//////////////////         start top navbar /////////////////////////////////-->

      <div class="section-1">
           <div class="second_nav" id="secondNavbar" >
            <img class="logo2" src="../public/icons/logo-v4-black.png" >
            <a  href="javascript:void(0);" class="icon2" onclick="myFunction2()">
                <i class="fa fa-bars" style="font-size: 35px;"></i>
              </a>
              <a href="home.html">HOME</a>
              <a href="about.html">ABOUT</a>
              <a href="rooms.html">ROOMS & SUITES</a>
              <a href="news.html">NEWS</a>
              <a href="contact.html">CONTACT</a>  
              <button class="btn-book"   onclick="window.location.href='booking.html';">BOOK NOW</button>
              
          </div>

          <h1 class="about_header"> About Us</h1>

      </div>

<!--//////////////////////////////         end top navbar  //////////////////////////////-->




<!--//////////////////////////////       start of section 2  //////////////////////////////-->

<div class="container-6">

    <div class="HOEXR">
        <h6 class="smaller"> <img src="../public/icons/flower (1).png">EAT FROM THE LAND <img src="../public/icons/flower (1) - Copy.png"></h6>
        <h1 >Enjoy Food and Even<br>
            Better Hospitality </h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br>
            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo<br>
            viverra maecenas accumsan lacus vel facilisis.</p> 
            
            
        <div class="Spa_food">

            <div class="food">
                <ul>
                    <li><h2> Restaurant</h2></li>
                    <li> <img class="check_icon" src="../public/icons/check.png">Healthy Food</li>
                    <li> <img class="check_icon" src="../public/icons/check.png"> Award-winning Restaurant</li>
                    <li> <img class="check_icon" src="../public/icons/check.png"> Individually Styled Bedrooms</li>
                    <li><img src="../public/images/food-list.jpg"></li>
                </ul>
            </div>

            <div class="food">
                <ul>
                    <li><h2> SPA & Wellness</h2></li>
                    <li> <img class="check_icon" src="../public/icons/check.png">Healthy Food</li>
                    <li> <img class="check_icon" src="../public/icons/check.png"> Award-winning Restaurant</li>
                    <li> <img class="check_icon" src="../public/icons/check.png"> Individually Styled Bedrooms</li>
                    <li><img src="../public/images/apalist-2.jpg"></li>
                </ul>
            </div>

        </div>    
      </div>

    <div class="video">
        <video width="520" height="470" controls >
            <source  src="../public/images/video_of_hotel_lounge (1080p).mp4" type="video/mp4">
          </video>

          <h2 style="text-align: center; margin-top: 80px; color: aliceblue;">See Our Hotel From Inside</h2>
    </div>

</div>

<!--//////////////////////////////       end of section 3  //////////////////////////////-->


<!-- start section 3 -->

<div class="container-2" class="row" >
  <div class="photos" col="6">
    <div class="parent_image"></div>
    <div class="outer_div"><div class="inner_div"><img src="../public/images/play.png" class="play_icon"></div></div>
    <div class="last_div"><img src="../public/images/about1-2.jpg" class="about-2"></div>
    <div class="Up_And_Down"  id="center_div" >
      <img  src="../public/images/exp-icon.png" style="margin-bottom: 20px;"><br>
      <h5>Luxury Room</h5>
      <h6> Donec in quis the asd<br>
        pellentesque velit. Donec id<br>
        velit arcu posuere blane.<br></h6>
    </div>
  </div>
  <div class="text3" col="6">
    <h6 class="smaller">HOEXR LUXURY HOTEL <img src="../public/icons/flower (1).png"> </h6>
    <h1 class="bigger">Most Safe & Rated<br>
      Hotel in London.</h1><br>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
      tempor incididunt ut labore et dolore magna aliqua. Quis ipsum<br>
      suspendisse ultrices gravida. Risus commodo maecenas accumsan
      lacus<br> vel facilisis.tempor incididunt ut labore et dolore magna aliqua. Quis ipsum<br>
      suspendisse ultrices gravida. Risus commodo maecenas accumsan
      lacus<br> vel facilisis.
    </p> 
    
    <div class="display2">
      <div class="display2">
        <img  src="../public/images//hang-lamp.png" class="flaticon-light">
        <h4 class="m_display2">The Best<br> Lighting</h4>
      
      </div>

      <div class="display2">
        <img  src="../public/images/swimming-pool.png" class="flaticon-light">
        <h4 class="m_display2">The Best<br> Swimming</h4>
      
      </div>
    </div>

    <div class="display3">
      <button onclick="window.location.href='rooms_details.html';" class="btn-discover"  id="xx">Discover NOW </button>
      <h5 class="n_display2">BOOKING NOW<br>
        956 220 6666<h5>
      <img  src="../public/images/customer-service.png" class="service-icon">
      
    </div>
      
  </div>
</div>


<!-- end section 3 -->





<!--//////////////////////////////       start of section 4   //////////////////////////////-->
<div class="container-7">
    <div class="HOEXR2">
        <h6 class="smaller"> ROOMS & SUITES<img src="../public/icons/flower (1) - Copy.png"></h6>
        <h1 class="bigger"> Hotel Booking </h1>
        <div class="inputs">
            <input type="text" placeholder="CHECK IN" style="width: 410px;height: 60px;  border: solid 0.1px gray; margin-top: 10px; background-color: transparent;">
            <img class="calender" src="../public/icons/calendar.png">
          </div>

          <div class="inputs">
            <input type="text" placeholder="CHECK OUT" style="width: 410px;height: 60px;  border: solid 0.1px gray; margin-top: 10px;background-color: transparent;">
            <img class="calender" src="../public/icons/calendar.png">
        </div>
         

          <div class="inputs">

            <select name="cars" id="cars" style="width: 410px;height: 60px; border: solid 0.1px gray; margin-top: 10px;background-color: transparent;">
              <option value="volvo">Adult</option>
              <option value="saab">Adult</option>
              <option value="mercedes">Adult</option>
              <option value="audi">Adult</option>
            </select>
        
          </div>
          
          <div class="inputs">

            <select name="cars" id="cars" style="width: 410px;height: 60px;  border: solid 0.1px gray; margin-top: 10px;background-color: transparent;">
              <option value="volvo">Children</option>
              <option value="saab">Children</option>
              <option value="mercedes">Children</option>
              <option value="audi">Children</option>
            </select>
        
          </div>

          <button onclick="window.location.href='about.html';" class="btn-check"  id="xx">Discover NOW </button>
          
          <div>


    </div>

</div>
<div>
    <h6 class="smaller"> CALL TO ACTION<img src="../public/icons/flower (1) - Copy.png"></h6>
    <h1 class="bigger">The Thin Escape. </h1>

    <div class="row_1">
        <div class="circle_img"><img src="../public/images/plane.png" style="width: 50px; height: 50px; margin-top: 13px; margin-left: 13px;"></div>
        <div>
            <h3 class="xyy">Easy & Free Transport</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                eiusmod tempor incididunt dolore magna aliqua.</p>
        </div>
    </div>

    
    <div class="row_1">
        <div class="circle_img"><img src="../public/images/pancakes.png" style="width: 50px; height: 50px; margin-top: 13px; margin-left: 13px;"></div>
        <div>
            <h3 class="xyy"> Clean & Fresh Food</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                eiusmod tempor incididunt dolore magna aliqua.</p>
        </div>
    </div>
    
    <div class="row_1">
        <div class="circle_img"><img src="../public/images/pool.png" style="width: 50px; height: 50px; margin-top: 13px; margin-left: 13px;"></div>
        <div>
            <h3 class="xyy">Play Ground & Swimming Pool</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                eiusmod tempor incididunt dolore magna aliqua.</p>
        </div>
    </div>
</div>

</div>
<!--//////////////////////////////       end of section 4  //////////////////////////////-->



<!--//////////////////////////////       start of section 5  //////////////////////////////-->


<div class="container-8">

    <div class="section8_header">
        <h6 class="section8_header"> <img src="../public/icons/flower (1).png">WHAT SAYS FOR CUSTOMER<img src="../public/icons/flower (1).png"> </h6>
        <h1 class="bigger">What Client's Say?</h1><br>
    </div>

    
    
   

    <div class="section8_diplayflex"> 
        
        <!-- card1 -->
        <div class="container">
        <div class="section8_text">
            <h5>Donald Browfish</h5>
            <h6>FOUNDER OF WEBFLEX</h6>
        </div>
        <img src="../public/images/girl2.jpg" alt="Avatar" class="image">
        <p>Upon they're seasons green day beast
            without form man be firmament years shall
            the appear moveth signs had.</p>
        <div class="overlay">
          <div class="text">visit profile</div>
        </div>
      </div>
       <!-- card2 -->
        <div class="container">
            <div class="section8_text">
                <h5>Donald Browfish</h5>
                <h6>FOUNDER OF WEBFLEX</h6>
            </div>
            <img src="../public/images/girl1.jpg" alt="Avatar" class="image">
            <p>Upon they're seasons green day beast
                without form man be firmament years shall
                the appear moveth signs had.</p>
            <div class="overlay">
              <div class="text">visit profile</div>
            </div>
          </div>

               <!-- card3-->
    <div class="container">
        <div class="section8_text">
            <h5>Donald Browfish</h5>
            <h6>FOUNDER OF WEBFLEX</h6>
        </div>
        <img src="../public/images/girl2.jpg" alt="Avatar" class="image">
        <p>Upon they're seasons green day beast
            without form man be firmament years shall
            the appear moveth signs had.</p>

        <div class="overlay">
          <div class="text">visit profile</div>
        </div>
      </div>
    </div>
 
   
</div>

   <!--//////////////////////////////       end of section 5  //////////////////////////////-->

   

    
<!-- /////////////////  start footer   ////////////////////////////// -->

<div class="footer" id="footerx">


    <div class="col1">
      <img class="footer_logo" src="../public/icons/logo-v4-black.png">
      <p class="footer_welcome">Welcome to the best five-star deluxe hotel in New<br>
        York. Hotel elementum sesue the aucan vestibulum<br>
        aliquam justo in sapien rutrum volutpat.</p>
  
        <div class="footer_icons">
          <div class="circle"><img class="icon_size" src="../public/icons/facebook.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/twitter.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/linkedin-big-logo.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/youtube.png"></div>
        </div>
  
    </div>
    <div class="col2">
      <ul class="list">
        <li><h2 style="color: white;">Services Links</h2></li>
        <li><a>HOME</a></li>
        <li><a>ROOM & SUITS</a></li>
        <li><a>PRICONG</a> </li>
        <li><a>NEWS</a></li>
        <li><a>CONTACT</a></li>
      </ul>
    </div>
    <div class="col3">
      <ul class="list">
        <li><h2 style="color: white;">Information</h2></li>
        <li><a> <img class="small_icons" src="../public/icons/call.png">1800-121-3637<br>+91-7052-101-786</a></li>
        <li><a> <img class="small_icons" src="../public/icons/email.png"> info@example.com</a></li>
        <li><a> <img class="small_icons" src="../public/icons/map.png">1247/Plot No. 39, <br> United States of America</a> </li>
       
      </ul>
    </div>
    <div class="col4">
      <ul class="list">
        <li><h1 style="color: white;">Newsletter</h1></li>
        <li><p>Lorem ipsum dolor sit amet consectetur<br> Augue id fermentum</p></li>
        <li><input type="email" placeholder="Email Address" class="email"><div class="outer"><img class="icon_size" src="../public/icons/telegram.png"></div></li>
      </ul>>
    </div>
  
  
  
  
  
  
  </div>
  
  <!-- /////////////////  end footer   ////////////////////////////// -->
  
  



<script src="../resources/javaScript/about/about.js"></script>

</body>
</html>