<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>

      <!-- bootstrap links -->
      <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css">
      <script src="../resources/bootstrap/js/jquery-3.6.0.min.js"></script>
      <script src="../resources/bootstrap/js/bootstrap.min.js"></script>
  
      <!-- font-awesome link -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
      <!-- css links -->
      <link rel="stylesheet" href="../resources/style/contact.css">
      <link rel="stylesheet" href="../resources/style/home.css">
      <link rel="stylesheet" href="../resources/style/about.css">
      <link rel="stylesheet" href="../resources/style/navbar_&_footer.css">
      

</head>
<body>
    

     <!--////////////////          drop down navbar           //////////////-->


     <div class="topnav" id="myTopnav">
        <img class="logo" src="../public/icons/logo-v4-black.png">
        <a href="contact.html">CONTACT</a>    
        <a href="news.html">NEWS</a>
        <a href="rooms.html">ROOMS & SUITES</a>
        <a href="about.html">ABOUT</a>
        <a href="home.html">HOME</a>
        <a  href="javascript:void(0);" class="icon" onclick="myFunction1()">
          <i class="fa fa-bars" style="font-size: 35px;"></i>
        </a>
      
      </div>
<!-- //////////////////////           end drop down navbar      //////////-->


<!--//////////////////         start top navbar /////////////////////////////////-->

      <div class="section-1">
           <div class="second_nav" id="secondNavbar" >
            <img class="logo2" src="../public/icons/logo-v4-black.png" >
            <a  href="javascript:void(0);" class="icon2" onclick="myFunction2()">
                <i class="fa fa-bars" style="font-size: 35px;"></i>
              </a>
              <a href="home.html">HOME</a>
              <a href="about.html">ABOUT</a>
              <a href="rooms.html">ROOMS & SUITES</a>
              <a href="news.html">NEWS</a>
              <a href="contact.html">CONTACT</a>  
              <button class="btn-book"   onclick="window.location.href='booking.html';">BOOK NOW</button>
              
          </div>

          <h1 class="about_header"> Contact Us</h1>

      </div>

<!--//////////////////////////////         end top navbar  //////////////////////////////-->


<!-- ///////////////////////////              start section1    /////////////// -->


<div class="container_12" >
<div class="left">
  <h6 class="smaller"> SEND US EMAIL<img src="../public/icons/flower (1) - Copy.png"></h6>
  <h1 class="bigger"> Feel free to write</h1>

  <div class="inputs_div">
    <div >
      <input  class="inputs_style" class="name" type="text" id="name" placeholder="Enter Name"> 
      <input  class="inputs_style" class="email" type="text" id="email" placeholder="Enter Email"> 
  
    </div>
    <div>
      <input  class="inputs_style" class="email" type="text" id="subject" placeholder="Enter Subject"> 
      <input  class="inputs_style" class="email" type="text" id="number" placeholder="Enter Phone"> 
    </div>
    <textarea name="form_message" class="form-control required" rows="10" placeholder="Enter Message" id="message"></textarea>
    
  </div>

    <div class="infoo2">
        
    <button  class="read_more"  id="send">Send Message </button>
        
    <button  class="read_more"  id="reset">Reset </button>
      
    </div>  

  </div>

<div class="right" >
  <h6 class="smaller"> NEED ANY HELP?<img src="../public/icons/flower (1) - Copy.png"></h6>
  <h1 class="bigger"> Get in touch with us  </h1>
  <p>Lorem ipsum is simply free text available dolor sit amet<br> consectetur notted adipisicing elit sed do eiusmod tempor<br> incididunt simply dolore magna.</p>
<div class="infoo2">
  <img src="../public/icons/call.png">
  <div>
  <h4>Have any question?  </h4>
  <h5>Free +92 (020)-9850</h5>
</div>

</div>

<div class="infoo2">
  <img src="../public/icons/email.png">
  <div>
  <h4>Write email </h4>
  <h5>needhelp@company.com</h5>
</div>
</div>

<div class="infoo2">
  <img src="../public/icons/send.png">
  <div>
  <h4>Visit anytime</h4>
  <h5>66 broklyn golden street. New York</h5>
</div>
</div>


</div>
</div>
</div>


<!-- ///////////////////////////              end section1    /////////////// -->



<!-- ///////////////////////////              start section2    /////////////// -->

<div class="the_map">

</div>
<!-- ///////////////////////////              end section2   /////////////// -->


     
<!-- /////////////////  start footer   ////////////////////////////// -->

<div class="footer" id="footerx">


    <div class="col1">
      <img class="footer_logo" src="../public/icons/logo-v4-black.png">
      <p class="footer_welcome">Welcome to the best five-star deluxe hotel in New<br>
        York. Hotel elementum sesue the aucan vestibulum<br>
        aliquam justo in sapien rutrum volutpat.</p>
  
        <div class="footer_icons">
          <div class="circle"><img class="icon_size" src="../public/icons/facebook.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/twitter.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/linkedin-big-logo.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/youtube.png"></div>
        </div>
  
    </div>
    <div class="col2">
      <ul class="list">
        <li><h2 style="color: white;">Services Links</h2></li>
        <li><a>HOME</a></li>
        <li><a>ROOM & SUITS</a></li>
        <li><a>PRICONG</a> </li>
        <li><a>NEWS</a></li>
        <li><a>CONTACT</a></li>
      </ul>
    </div>
    <div class="col3">
      <ul class="list">
        <li><h2 style="color: white;">Information</h2></li>
        <li><a> <img class="small_icons" src="../public/icons/call.png">1800-121-3637<br>+91-7052-101-786</a></li>
        <li><a> <img class="small_icons" src="../public/icons/email.png"> info@example.com</a></li>
        <li><a> <img class="small_icons" src="../public/icons/map.png">1247/Plot No. 39, <br> United States of America</a> </li>
       
      </ul>
    </div>
    <div class="col4">
      <ul class="list">
        <li><h1 style="color: white;">Newsletter</h1></li>
        <li><p>Lorem ipsum dolor sit amet consectetur<br> Augue id fermentum</p></li>
        <li><input type="email" placeholder="Email Address" class="email"><div class="outer"><img class="icon_size" src="../public/icons/telegram.png"></div></li>
      </ul>>
    </div>
  
  </div>
  
  <!-- /////////////////  end footer   ////////////////////////////// -->
    
<script src="../resources/javaScript/contact/contact.js"></script>
</body>
</html>