<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>

      <!-- bootstrap links -->
      <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css">
      <script src="../resources/bootstrap/js/jquery-3.6.0.min.js"></script>
      <script src="../resources/bootstrap/js/bootstrap.min.js"></script>
  
      <!-- font-awesome link -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  
      <!-- css links -->
      <link rel="stylesheet" href="../resources/style/news.css">
      <link rel="stylesheet" href="../resources/style/home.css">
      <link rel="stylesheet" href="../resources/style/about.css">
      <link rel="stylesheet" href="../resources/style/navbar_&_footer.css">

</head>
<body>
    

     <!--////////////////          drop down navbar           //////////////-->


     <div class="topnav" id="myTopnav">
        <img class="logo" src="../public/icons/logo-v4-black.png">
        <a href="contact.html">CONTACT</a>    
        <a href="news.html">NEWS</a>
        <a href="rooms.html">ROOMS & SUITES</a>
        <a href="about.html">ABOUT</a>
        <a href="home.html">HOME</a>
        <a  href="javascript:void(0);" class="icon" onclick="myFunction1()">
          <i class="fa fa-bars" style="font-size: 35px;"></i>
        </a>
      
      </div>
<!-- //////////////////////           end drop down navbar      //////////-->


<!--//////////////////         start top navbar /////////////////////////////////-->

      <div class="section-1">
           <div class="second_nav" id="secondNavbar" >
            <img class="logo2" src="../public/icons/logo-v4-black.png" >
            <a  href="javascript:void(0);" class="icon2" onclick="myFunction2()">
                <i class="fa fa-bars" style="font-size: 35px;"></i>
              </a>
              <a href="home.html">HOME</a>
              <a href="about.html">ABOUT</a>
              <a href="rooms.html">ROOMS & SUITES</a>
              <a href="news.html">NEWS</a>
              <a href="contact.html">CONTACT</a>  
              <button class="btn-book" onclick="window.location.href='booking.html';">BOOK NOW</button>
              
          </div>

          <h1 class="about_header"> Our News</h1>

      </div>

<!--//////////////////////////////         end top navbar  //////////////////////////////-->


<!-- //////////////////  start section 1 //////////////-->

<div class="container_11">


  <div class="first_col">

    <img class="container_11_img" src="../public/images/news-details (1).jpg">
    <h6 style="padding:30px 0px 0px 100px;" class="small_icon"><img src="../public/icons/user.png"> Admin <img src="../public/icons/chat.png"> 2 Comment</h6>
    <h3 >Delivering the best web design agency</h3>
    <p id="details">Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo<br> pulvinar tempor. Aliquam tellus nulla, sollicitudin at euismod nec, feugiat at nisi.<br> Quisque vitae odio nec lacus interdum tempus. Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet pellentesque vitae <br><br>et nunc. Sed vitae leo vitae nisl pellentesque semper.

      Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo <br> pulvinar tempor. Aliquam tellus nulla, sollicitudin at euismod nec, feugiat at nisi. Quisque vitae odio nec lacus interdum tempus. Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet pellentesque vitae<br> <br>et nunc. Sed vitae leo vitae nisl pellentesque semper.
      
      Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo pulvinar tempor. Aliquam tellus nulla, sollicitudin at euismod nec, feugiat at nisi. Quisque vitae odio nec lacus interdum tempus. Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet pellentesque vitae<br> et nunc. Sed vitae leo vitae nisl pellentesque semper.</p>
  <br><br><br> <br>
      <h1 >2 Comments</h1>

      <div class="Comment1">

        <img src="../public/images/boy3.jpg">
        <div>
          <div class="infoo">
            <h5>Kevin Martin</h5>     
            <button onclick="window.location.href='news.html';" class="reply"  id="xx">Reply</button>
          </div>
          <h6>Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla.<br> Aliquam quis purus in justo pulvinar tempor. Aliquam tellus nulla, sollicitudin at euismod.</h6>
        </div> 

        
      </div>

      
      <div class="Comment1">

        <img src="../public/images/girl2-2.jpg">
        <div>
          <div class="infoo">
            <h5>Kevin Martin</h5>     
            <button onclick="window.location.href='news.html';" class="reply"  id="xx">Reply</button>
          </div>
          <h6>Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla.<br> Aliquam quis purus in justo pulvinar tempor. Aliquam tellus nulla, sollicitudin at euismod.</h6>
        </div> 

        
      </div>


    </div>


  <div class="second_col">
    
    <input type="text" placeholder="Search here" ><img class="search_icon" src="../public/icons/search.png">

    <div class="posts">
      <h3>Latest Posts</h3>
      <div class="row1">
        <img src="../public/images/about1-2.jpg" class="left_img">
        <div class=" text_row"> 
          <h6>  <img src="../public/icons/user.png" style="width: 20px; height: 20px;">Admin</h6>
          <h5>Top crypto exchange<br> influencers</h5>
        </div>
      </div>

  
      <div class="row1">
        <img src="../public/images/news-2.jpg" class="left_img">
        <div class=" text_row"> 
          <h6>  <img src="../public/icons/user.png" style="width: 20px; height: 20px;">Admin</h6>
          <h5>Top crypto exchange<br> influencers</h5>
        </div>
      </div>

      <div class="row1">
        <img src="../public/images/gem_room1.jpg" class="left_img">
        <div class=" text_row"> 
          <h6>  <img src="../public/icons/user.png" style="width: 20px; height: 20px;">Admin</h6>
          <h5>Top crypto exchange<br> influencers</h5>
        </div>
      </div>
      
      <div class="row1">
        <img src="../public/images/news-2.jpg" class="left_img">
        <div class=" text_row"> 
          <h6>  <img src="../public/icons/user.png" style="width: 20px; height: 20px;">Admin</h6>
          <h5>Top crypto exchange<br> influencers</h5>
        </div>
      </div>

    </div>


  </div>
</div>



<!-- //////////////////  end section 1 //////////////-->




<!-- //////////////////  start section 2 //////////////-->

<!-- first row -->
<div class="center" style="margin-bottom: 200px;">
<div class="container_10">
  <!-- ////// row 1 -->
  <div class="img1_row1">
    <div class="discount_text"><h6>DEC</h6><h1>20</h1></div>
    <div class="top_div"><h6><img class="small_icon" src="../public/icons/user.png">Admin<img class="small_icon"  src="../public/icons/chat.png">October 19, 2022</h6>
          <h4>Retore Lighting Design<br>in The Hotel</h4>
    
    <button onclick="window.location.href='home.html#return';" class="read_more"  id="xx">Read More</button>
          
  </div>
</div>
  
  <div class="img2_row1">
    <div class="discount_text"><h6>DEC</h6><h1>20</h1></div>
    <div class="top_div"><h6><img class="small_icon" src="../public/icons/user.png">Admin<img class="small_icon"  src="../public/icons/chat.png">October 19, 2022</h6>
          <h4>Retore Lighting Design<br>in The Hotel</h4>
    
    <button onclick="window.location.href='home.html#return';" class="read_more"  id="xx">Read More</button>
          
  </div>
  </div>
  <div class="img3_row1">
    <div class="discount_text"><h6>DEC</h6><h1>20</h1></div>
    <div class="top_div"><h6><img class="small_icon" src="../public/icons/user.png">Admin<img class="small_icon"  src="../public/icons/chat.png">October 19, 2022</h6>
          <h4>Retore Lighting Design<br>in The Hotel</h4>
    
    <button onclick="window.location.href='home.html#return';" class="read_more"  id="xx">Read More</button>
          
  </div>
  </div>

</div>

<!-- second row -->


<div class="container_10" >
  <!-- ////// row 2 -->
  <div class="img1_row1">
    <div class="discount_text"><h6>DEC</h6><h1>20</h1></div>
    <div class="top_div"><h6><img class="small_icon" src="../public/icons/user.png">Admin<img class="small_icon"  src="../public/icons/chat.png">October 19, 2022</h6>
          <h4>Retore Lighting Design<br>in The Hotel</h4>
    
    <button onclick="window.location.href='home.html#return';" class="read_more"  id="xx">Read More</button>
          
  </div>
</div>
  
  <div class="img2_row1">
    <div class="discount_text"><h6>DEC</h6><h1>20</h1></div>
    <div class="top_div"><h6><img class="small_icon" src="../public/icons/user.png">Admin<img class="small_icon"  src="../public/icons/chat.png">October 19, 2022</h6>
          <h4>Retore Lighting Design<br>in The Hotel</h4>
    
    <button onclick="window.location.href='home.html#return';" class="read_more"  id="xx">Read More</button>
          
  </div>
  </div>
  <div class="img3_row1">
    <div class="discount_text"><h6>DEC</h6><h1>20</h1></div>
    <div class="top_div"><h6><img class="small_icon" src="../public/icons/user.png">Admin<img class="small_icon"  src="../public/icons/chat.png">October 19, 2022</h6>
          <h4>Retore Lighting Design<br>in The Hotel</h4>
    
    <button onclick="window.location.href='home.html#return';" class="read_more"  id="xx">Read More</button>
          
  </div>
  </div>

</div>
</div>

<!-- //////////////////  end section 2 //////////////-->










   
    
<!-- /////////////////  start footer   ////////////////////////////// -->

<div class="footer" id="footerx">


    <div class="col1">
      <img class="footer_logo" src="../public/icons/logo-v4-black.png">
      <p class="footer_welcome">Welcome to the best five-star deluxe hotel in New<br>
        York. Hotel elementum sesue the aucan vestibulum<br>
        aliquam justo in sapien rutrum volutpat.</p>
  
        <div class="footer_icons">
          <div class="circle"><img class="icon_size" src="../public/icons/facebook.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/twitter.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/linkedin-big-logo.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/youtube.png"></div>
        </div>
  
    </div>
    <div class="col2">
      <ul class="list">
        <li><h2 style="color: white;">Services Links</h2></li>
        <li><a>HOME</a></li>
        <li><a>ROOM & SUITS</a></li>
        <li><a>PRICONG</a> </li>
        <li><a>NEWS</a></li>
        <li><a>CONTACT</a></li>
      </ul>
    </div>
    <div class="col3">
      <ul class="list">
        <li><h2 style="color: white;">Information</h2></li>
        <li><a> <img class="small_icons" src="../public/icons/call.png">1800-121-3637<br>+91-7052-101-786</a></li>
        <li><a> <img class="small_icons" src="../public/icons/email.png"> info@example.com</a></li>
        <li><a> <img class="small_icons" src="../public/icons/map.png">1247/Plot No. 39, <br> United States of America</a> </li>
       
      </ul>
    </div>
    <div class="col4">
      <ul class="list">
        <li><h1 style="color: white;">Newsletter</h1></li>
        <li><p>Lorem ipsum dolor sit amet consectetur<br> Augue id fermentum</p></li>
        <li><input type="email" placeholder="Email Address" class="email"><div class="outer"><img class="icon_size" src="../public/icons/telegram.png"></div></li>
      </ul>>
    </div>
  
  
  
  
  
  
  </div>
  
  <!-- /////////////////  end footer   ////////////////////////////// -->
  
  

<script src="../resources/javaScript/news/news.js"></script>
</body>
</html>