<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rooms_suits</title>

     <!-- bootstrap links -->
     <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css">
     <script src="../resources/bootstrap/js/jquery-3.6.0.min.js"></script>
     <script src="../resources/bootstrap/js/bootstrap.min.js"></script>
 
     <!-- font-awesome link -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
     <!-- css links -->
     <link rel="stylesheet" href="../resources/style/rooms.css">
     <link rel="stylesheet" href="../resources/style/home.css">
     <link rel="stylesheet" href="../resources/style/about.css">
     <link rel="stylesheet" href="../resources/style/navbar_&_footer.css">



</head>
<body>

     <!--////////////////          drop down navbar           //////////////-->


     <div class="topnav" id="myTopnav">
        <img class="logo" src="../public/icons/logo-v4-black.png">
        <a href="contact.html">CONTACT</a>    
        <a href="news.html">NEWS</a>
        <a href="rooms.html">ROOMS & SUITES</a>
        <a href="about.html">ABOUT</a>
        <a href="home.html">HOME</a>
        <a  href="javascript:void(0);" class="icon" onclick="myFunction1()">
          <i class="fa fa-bars" style="font-size: 35px;"></i>
        </a>
      
      </div>
<!-- //////////////////////           end drop down navbar      //////////-->


<!--//////////////////         start top navbar /////////////////////////////////-->

      <div class="section-1">
           <div class="second_nav" id="secondNavbar" >
            <img class="logo2" src="../public/icons/logo-v4-black.png" >
            <a  href="javascript:void(0);" class="icon2" onclick="myFunction2()">
                <i class="fa fa-bars" style="font-size: 35px;"></i>
              </a>
              <a href="home.html">HOME</a>
              <a href="about.html">ABOUT</a>
              <a href="rooms.html">ROOMS & SUITES</a>
              <a href="contact.html">NEWS</a>
              <a href="contact.html">CONTACT</a>  
              <button class="btn-book"  onclick="window.location.href='booking.html';">BOOK NOW</button>
              
          </div>

          <h1 class="about_header"> Rooms & Suits</h1>

      </div>

<!--//////////////////////////////         end top navbar  //////////////////////////////-->



<!--//////////////////////////////         start section-1  //////////////////////////////-->

<div class="container-9">

    <div class="container_9_img"> <h1 class="container_9_vist">visit</h1></div>
    <div class="container_9_header">
        <h6 class="smaller"> <img src="../public/icons/flower (1).png">MODERN <img src="../public/icons/flower (1) - Copy.png"></h6>
        <h1 >Fitness Center </h1>
        <p>Restaurant inilla duiman at elit finibus viverra nec a lacus themo the<br>
            nesudea seneoice misuscipit non sagie the fermen ziverra tristiue duru<br>
            the ivite dianne onen nivami acsestion augue artine.</p>

            <button onclick="window.location.href='news.html';" class="btn-discover"  id="xx">Discover NOW </button>
          
    </div>

</div>


<div class="container-9">
    <div class="container_9_header">
        <h6 class="smaller"> <img src="../public/icons/flower (1).png">DISCOVER <img src="../public/icons/flower (1) - Copy.png"></h6>
        <h1 >The Restaurant </h1>
        <p>Restaurant inilla duiman at elit finibus viverra nec a lacus themo the<br>
            nesudea seneoice misuscipit non sagie the fermen ziverra tristiue duru<br>
            the ivite dianne onen nivami acsestion augue artine.</p>

            <button onclick="window.location.href='news.html';" class="btn-discover"  id="xx">Discover MORE </button>
          
    </div>
    <div class="container_10_img"> <h1 class="container_9_vist">visit</h1></div>


</div>


<div class="container-9">

    <div class="container_11_img"> <h1 class="container_9_vist">visit</h1></div>
    <div class="container_9_header">
        <h6 class="smaller"> <img src="../public/icons/flower (1).png">EXPERIENCES <img src="../public/icons/flower (1) - Copy.png"></h6>
        <h1 >Spa Center</h1>
        <p>Restaurant inilla duiman at elit finibus viverra nec a lacus themo the<br>
            nesudea seneoice misuscipit non sagie the fermen ziverra tristiue duru<br>
            the ivite dianne onen nivami acsestion augue artine.</p>

            <button onclick="window.location.href='news.html';" class="btn-discover"  id="xx">Discover More </button>
          
    </div>

</div>
<!--//////////////////////////////         end section-1  //////////////////////////////-->



<!--//////////////////////////////         start section 2    /////////////////////////   -->

<div class="container-3">
 
    <div class="HOEXR">
      <h6 class="smaller"> <img src="../public/icons/flower (1).png">HOEXR LUXURY ROOMS <img src="../public/icons/flower (1) - Copy.png"></h6>
      <h3 id='flipY' class="bigger">SEE OUR PRICES </h3>
    </div>
  
  <!-- first column of images -->
  
    <div class="rooms_col1">
      <div class="room-1" >
       
        <div class="c1_room1">
        <div><button onclick="window.location.href='booking.html';"  class="btn-book2"> book now</button></div>
        <div><h5 class="type">Junior Suite</h5> <h6 class="price">150$ / NIGHT</h6>  <hr >
        </div>
      </div>
      </div>
      <div class="room-2"> 
        <div class="c1_room1">
        <div><button onclick="window.location.href='booking.html';"  class="btn-book2"> book now</button></div>
        <div><h5 class="type">Junior Suite</h5> <h6 class="price">150$ / NIGHT</h6>  <hr >
        </div>
      </div>
      </div>
  
  </div>
  
  <!-- second column of images -->
  
  <div class="rooms_col2">
    <div class="room-3" >
     
      <div class="c2_room3">
      <div><button onclick="window.location.href='booking.html';"  class="btn-book3"> book now</button></div>
      <div><h6 class="small_type">Double Room</h6> <h6 class="small_price">150$ / NIGHT</h6>  <hr >
      </div>
    </div>
    </div>
    <div class="room-4"> 
      <div class="c2_room3">
      <div><button onclick="window.location.href='booking.html';"  class="btn-book2"> book now</button></div>
      <div><h5 class="type">Double Room</h5> <h6 class="price">150$ / NIGHT</h6>  <hr >
      </div>
    </div>
    </div>
  
    <div class="room-5"> 
      <div class="c2_room3">
      <div><button onclick="window.location.href='booking.html';"  class="btn-book3"> book now</button></div>
      <div><h6 class="small_type">Dulexe Room</h6> <h6 class="small_price">150$ / NIGHT</h6>  <hr >
      </div>
    </div>
    </div>
  
  </div>
  
  
  <!-- end section 2   -->
  







   
<!-- /////////////////  start footer   ////////////////////////////// -->

<div class="footer" id="footerx">


    <div class="col1">
      <img class="footer_logo" src="../public/icons/logo-v4-black.png">
      <p class="footer_welcome">Welcome to the best five-star deluxe hotel in New<br>
        York. Hotel elementum sesue the aucan vestibulum<br>
        aliquam justo in sapien rutrum volutpat.</p>
  
        <div class="footer_icons">
          <div class="circle"><img class="icon_size" src="../public/icons/facebook.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/twitter.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/linkedin-big-logo.png"></div>
          <div class="circle"><img class="icon_size" src="../public/icons/youtube.png"></div>
        </div>
  
    </div>
    <div class="col2">
      <ul class="list">
        <li><h2 style="color: white;">Services Links</h2></li>
        <li><a>HOME</a></li>
        <li><a>ROOM & SUITS</a></li>
        <li><a>PRICONG</a> </li>
        <li><a>NEWS</a></li>
        <li><a>CONTACT</a></li>
      </ul>
    </div>
    <div class="col3">
      <ul class="list">
        <li><h2 style="color: white;">Information</h2></li>
        <li><a> <img class="small_icons" src="../public/icons/call.png">1800-121-3637<br>+91-7052-101-786</a></li>
        <li><a> <img class="small_icons" src="../public/icons/email.png"> info@example.com</a></li>
        <li><a> <img class="small_icons" src="../public/icons/map.png">1247/Plot No. 39, <br> United States of America</a> </li>
       
      </ul>
    </div>
    <div class="col4">
      <ul class="list">
        <li><h1 style="color: white;">Newsletter</h1></li>
        <li><p>Lorem ipsum dolor sit amet consectetur<br> Augue id fermentum</p></li>
        <li><input type="email" placeholder="Email Address" class="email"><div class="outer"><img class="icon_size" src="../public/icons/telegram.png"></div></li>
      </ul>>
    </div>
  
  </div>
  
  <!-- /////////////////  end footer   ////////////////////////////// -->
  
  
    
<script src="../resources/javaScript/rooms/room.js"></script>
</body>
</html>